.drpodown {
  position: relative;
}

.dropdown .chev {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 15px;
  -webkit-pointer-events: none;
  pointer-events: none;
}
.Toggler {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
}

.Toggler__on, .Toggler__off {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dddddd;
  cursor: pointer;
}

.Toggler__on {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.Toggler__off {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.socialwall-container {
  display: flex;
  flex-direction: column;
}

.socialwall-container button {
  max-width: 300px;
}

.socialwall-info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialwall-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.socialwall-close {
  margin: 0 0 5px 15px;
  cursor: pointer;
  font-size: 36px;
}

.socialwall-info img {
  width: 42px;
}

.socialwall-info label {
  font-weight: 300;
  font-size: 16px;
  margin: 0 0 0 20px;
}

.socialwall-info span {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Tooltip container */
.settingsTooltip {
  position: relative;
  display: inline-block;
  font-family: 'Muli', sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 1.4;
}

/* Tooltip text */
.settingsTooltip .settingsTooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  transition: opacity 0.3s;
  left: 145%;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.settingsTooltip:hover .settingsTooltiptext {
  visibility: visible;
}

.settingsTooltip .settingsTooltiptext.socialWall {
  top: -35px;
}

.settingsTooltip .settingsTooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

.btn-info-icon::after {
  font-style: normal !important;
}