.drpodown {
  position: relative;
}

.dropdown .chev {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 15px;
  -webkit-pointer-events: none;
  pointer-events: none;
}
.Toggler {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
}

.Toggler__on, .Toggler__off {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dddddd;
  cursor: pointer;
}

.Toggler__on {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.Toggler__off {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.socialwall-container {
  display: flex;
  flex-direction: column;
}

.socialwall-container button {
  max-width: 300px;
}

.socialwall-info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialwall-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.socialwall-info img {
  width: 42px;
}

.socialwall-info label {
  font-weight: 300;
  font-size: 16px;
  margin: 0 0 0 20px;
}

.socialwall-info span {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}