{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "quotes": 0,
    "strict": [2, "never"],
    "semi": [2, "always"],
    "no-multi-spaces": 0,
    "key-spacing": 0,
    "curly": 0,
    "no-irregular-whitespace": 0,
    "no-console": 0,
    "no-octal-escape": 0,
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "new-cap": 0,
    "no-shadow": 0,
    "camelcase": 0,
    "react/prop-types": 0
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "plugins": [
    "react"
  ]
}
