/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#mapView #listView{
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#view {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Hide Google Stuff */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}

.sidenav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    bottom: 0;
    background-color: #111;
    overflow-x: scroll;
    transition: 0.5s;
    padding-top: 0;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.buttonContainer{
    background-color: #000000;
    opacity: 0.8;
    border-radius: 25px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-bottom: 30px;
}

.mapCenter{
    position: absolute;
    left: 10px;
    text-align: center;
    margin-top: 137%;
    z-index: 1;
}

.listViewFilter{
    width: 110px;
    position: absolute;
    right: 10px;
    text-align: center;
    margin-top: 137%;
    z-index: 1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}