<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--SDK js-->
    <script src="../../../../scripts/buildfire.js"></script>
    <script src="../../../../scripts/jquery/jquery-1.11.2.min.js"></script>
    <script src="../../../../scripts/angular/angular.min.js"></script>
    <script src="../../../../scripts/angular/ui-bootstrap.min.js"></script>
    <script src="../../../../scripts/jquery/jquery-ui.min.js"></script>

    <!-- Libs -->
    <script src="assets/js/sortable.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true&key=AIzaSyC4Dw4EzKeyVBXWBsbO9-UgyEARL6WLrlU"></script>

    <script>

        function addData(){
            console.error('add data');
            var mockData = [
                {title: 'Extra-ordinary desserts',
                    address: {name:'1430 Union St, San Diego, CA 92101', lat:32.720285, lng:-117.165927}},
                {title: 'Ballast Point Brewing',
                    address: {name:'2215 India St, San Diego, CA 92101', lat:32.727669, lng:-117.169695}},
                {title: 'Cafe Italia',
                    address: {name: '1704 India St, San Diego, CA 92101', lat:32.723331, lng:-117.168570}}
            ];

            buildfire.datastore.save(mockData, placesTag, function(err){
                if(err){
                    console.error('datastore.save error', err);
                }
            });
        }

        setTimeout(function(){
            var input = document.getElementById('pac-input');
            var autocomplete = new google.maps.places.Autocomplete(input);

            autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace(),
                    location = place.formatted_address,
                    geometry = place.geometry,
                    coordinates;

                if (geometry) {
                    coordinates = [geometrylocation.lng(), geometry.location.lat()];

                }

                console.error('place', location, coordinates);

                if (!place.geometry) {
                    // User entered the name of a Place that was not suggested and
                    // pressed the Enter key, or the Place Details request failed.
                    //window.alert("No details available for input: '" + place.name + "'");
                    return;
                }
            });
        }, 500);
    </script>

    <script src="app.js"></script>
</head>
<body>

    <input id="pac-input" type="text" placeholder="Enter a location" size="100">

    <div ng-app="places2Controller" ng-controller="contentController" class="container">
        <div class="floatleft">
            <ul ui-sortable="sortableOptions" ng-model="list" class="list">
                <li ng-repeat="place in list" class="item">
                    {{place.title}}
                </li>
            </ul>
        </div>
    </div>
    <br>
    <button onclick="addData()">Add Test Places</button>
</body>
</html>