{{#each categories}}
    <p>
        <a href="javascript:void(0);" id="{{name}}">{{name}}</a>
        <label class="switch">
            <input type="checkbox" onclick="filterControl.filterCategory('{{name}}')" {{#if this.isActive}}checked{{/if}}>
            <span class="slider round"></span>
        </label>
    </p>
{{/each}}