<div>
    <img class="detail-image" src="https://czi3m2qn.cloudimg.io/s/width/{{width}}/https://pluginserver.buildfire.com/styles/media/{{imageName}}"/>
</div>
<div>
    {{title}}
</div>
<div id="smallMap" style="height:33%;width:100%;position:absolute;"></div>