.customTooltipBox {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  position: relative;
  top: 4px;
  width: 16px;
  height: 16px;
  color: #fff;
  border-radius: 100%;
}

.customTooltipBox::after {
  content: 'i';
  position: relative;
  bottom: 4px;
  display: block;
}

.customTooltipBox .customTooltipText {
  visibility: hidden;
  width: 200px;
  background-color: #414547;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  transform: translate(10px, 50%);
  left: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.customTooltipBox .customTooltipText::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  transform: rotate(90deg) translate(-50%);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #414547 transparent transparent transparent;
}

.customTooltipBox:hover .customTooltipText {
  visibility: visible;
  opacity: 0.9;
}

.customTooltipBoxTop {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  position: relative;
  top: 4px;
  width: 16px;
  height: 16px;
  color: #fff;
  border-radius: 100%;
}

.customTooltipBoxTop::after {
  content: 'i';
  position: relative;
  bottom: 4px;
  display: block;
}

.customTooltipBoxTop .customTooltipTextTop {
  visibility: hidden;
  width: 200px;
  background-color: #414547;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  right: 50%;
  transform: translate(50%, 0);
  opacity: 0;
  transition: opacity 0.3s;
  margin-bottom: 10px;
}

.customTooltipBoxTop .customTooltipTextTop::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: rotate(0deg) translate(-50%, 0);
  border-width: 5px;
  border-style: solid;
  border-color: #414547 transparent transparent transparent;
}

.customTooltipBoxTop:hover .customTooltipTextTop {
  visibility: visible;
  opacity: 0.9;
}
