<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../../../../styles/helper.css" rel="stylesheet">

    <!--SDK js-->
    <script src="../../../../scripts/buildfire.js"></script>
    <script src="../../../../scripts/jquery/jquery-1.11.2.min.js"></script>
    <script src="../../../../scripts/angular/angular.min.js"></script>

    <script src="../../../../scripts/jquery/jquery-ui.min.js"></script>

    <!-- Libs -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC4Dw4EzKeyVBXWBsbO9-UgyEARL6WLrlU"></script>
</head>
<body>
    <div ng-app="places2Controller" ng-controller="contentController" class="container">

        Default view:
        <select ng-model="defaultView" ng-change="changeDefaultView()">
            <option value="map">Map</option>
            <option value="list">List</option>
        </select>

        <hr>

        Sort Order:
        <select ng-model="sortBy" ng-change="changeSortOrder()">
            <option value="alpha">Alphabetical</option>
            <option value="alphaDesc">Reverse Alphabetical</option>
            <option value="manual">Manual</option>
        </select>

        <hr>
        Categories:
        <ul ui-sortable ng-model="categories">
            <li ng-repeat="category in categories" class="item">
                <b>{{category}}</b>
            </li>
        </ul>

        <hr>

        <input type="text" ng-model="title" placeholder="Enter title">
        <input id="pac-input" type="text" ng-model="location" placeholder="Enter a location" size="100">

        <hr>

        <div class="floatleft">
            <ul ui-sortable="sortableOptions" ng-model="list" class="list">
                <li ng-repeat="place in list" class="item">
                    <b>{{place.title}}</b> <br> {{place.address.name}}
                </li>
            </ul>
        </div>

        <hr>
        <!--
        <button ng-click="addData()">Reset Test Places</button>
        -->
    </div>
</body>
</html>