tbody {
    border-radius: 5px;
}

table td.action {
    width: 30px;
    padding: 0 !important;
    vertical-align: middle !important;
}

table td.action-large {
    width: 90px;
    padding: 0 !important;
    vertical-align: middle !important;
}

table td.action-large a {
  padding: 0 6px;
}

.sortable-item {
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 0 0 5px;
  padding: 10px 0;
}

.sortable-item img.handle {
  position: absolute;
  left: 10px;
  top: 0;
  width: 20px;
  z-index: 1;
  top: 50%;
  margin-top: -10px;
  opacity: 0.5;
  cursor: ns-resize;
}

.sortable-item .titles {
  display: inline-block;
  margin-left: 50px;
  width: 28%;
}

.sortable-item .titles.secondary {
  width: 52%;
}

.sortable-item .delete {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -9px;
  width: 18px;
  cursor: pointer;
}

.sortable-item .edit {
  display: inline-block;
  float: right;
  margin-right: 50px;
  position: absolute;
  right: -8px;
}

.edit-box {
  margin: 0;
  padding: 0 5px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.category-box{
    height: 275px;
    overflow-y: auto;
}

table img.delete {
    display: inline;
    vertical-align: middle;
    width: 18px;
    cursor: pointer;
}

#csv {
  display: none;
}

img.empty-state {
  width: 100%;
}
.button-group {
  text-align: left;
}
.button-group.right {
  text-align: right;
}
.button-group button {
  display: inline-block;
  margin: 15px 0;
}

label[for=csv] {
  margin: 15px 5px;
  display: inline-block;
}

button.template {
  margin-left: 15px;
  margin-right: 0;
  display: inline-block;
}

.image-dialog {
  width: 200px;
  height: 120px;
  background-color: #ECF0F0;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.image-dialog a {
  line-height: 120px;
}

.autocomplete-container {
    position: relative;
}

.pac-container {
  top: 61px !important;
  left: 0 !important;
}

.quill {
    height: 150px;
}
