tbody {
    border-radius: 5px;
}

table td.action {
    width: 30px;
    padding: 0 !important;
    vertical-align: middle !important;
}

table img.delete {
    display: inline;
    vertical-align: middle;
    width: 18px;
    cursor: pointer;
}

#csv {
  display: none;
}

.button-group {
  text-align: right;
}

label[for=csv] {
  margin: 15px 5px;
  display: inline-block;
}
button.template {
  margin: 15px 0;
  display: inline-block;
}
