tbody {
    border-radius: 5px;
}

table td.action {
    width: 30px;
    padding: 0 !important;
    vertical-align: middle !important;
}

table td.action-large {
    width: 90px;
    padding: 0 !important;
    vertical-align: middle !important;
}

table td.action-large a {
  padding: 0 6px;
}

.sortable-item {
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 0 0 5px;
  padding: 10px 0;
}

.sortable-item img.handle {
  position: absolute;
  left: 10px;
  top: 0;
  width: 20px;
  z-index: 1;
  top: 50%;
  margin-top: -10px;
  opacity: 0.5;
  cursor: ns-resize;
}

.sortable-item .titles {
  display: inline-block;
  margin-left: 8%;
  width: 25%;
}

.sortable-item .titles.secondary {
  width: 48%;
  margin-left: 5% !important;
}

.sortable-item .delete {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -9px;
  width: 20px;
  cursor: pointer;
}
 .sortable-item .copy {
  position: absolute;
  top: 50%;
  right: 38px;
  margin-top: -9px;
  width: 20px;
  cursor: pointer;
}
 .sortable-item .copy .tooltiptext, .copyLinkCategory
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 150%;
  }

 .sortable-item .copy:hover .tooltiptext , .copyLinkCategory:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .sortable-item .copy .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }

.sortable-item .edit {
  display: inline-block;
  float: right;
  margin-right: 80px;
  position: absolute;
  right: -8px;
}

.edit-box {
  margin: 0;
  padding: 0 5px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.category-box{
    margin-top: 20px;
    height: 275px;
    overflow-y: auto;
}

table img.delete {
    display: inline;
    vertical-align: middle;
    width: 18px;
    cursor: pointer;
}

#csv {
  display: none;
}

img.empty-state {
  width: 100%;
}
.button-group {
  text-align: left;
}
.button-group.right {
  text-align: right;
}
.button-group button {
  display: inline-block;
  margin: 15px 0;
}

label[for=csv] {
  margin: 15px 5px;
  display: inline-block;
}

button.template {
  margin-left: 15px;
  margin-right: 0;
  display: inline-block;
}

.image-dialog {
  width: 200px;
  height: 120px;
  background-color: #ECF0F0;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.image-dialog a {
  line-height: 120px;
}

.autocomplete-container {
    position: relative;
}

.pac-container {
  top: 61px !important;
  left: 0 !important;
}

.quill {
    height: 150px;
}

.list-image-holder:hover .delete {
  display: block;
}

.list-image-holder {
  position: relative;
  width: 200px;
}

.list-image-holder .delete {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  z-index: 100;
  display: none;
  cursor: pointer;
}
img.delete {
  border-radius: 100%;
  background: #fff;
}

.__strippedTable {
  border: 1px solid #dddddd;
  overflow-y: auto;
  max-height: 475px;
}

.__categoryListItem {
  display: flex;
  align-items: center;
  border-top: 1px solid #dddddd;
  padding: 10px;
}

.__categoryListItem input {
  width: 100%;
  box-sizing: border-box;
}

.__categoryListItem img {
  width: 20px;
  cursor: pointer;
  position: relative;
  top: 2px;
}
.copyLinkCategory {
  cursor: pointer;
  position: relative;
  top: 4px;
  right: 10px;
  padding-left: 3px;
}

.__categoryListItem:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.__categoryListItem:first-of-type {
  border-top: none;
}

.__categoryListItem > div:first-of-type {
  box-sizing: border-box;
  width: 80%;
  padding-right: 5%;
  word-wrap: break-word;
}

.__categoryListItem > div:last-of-type {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.__categoryListItem > div:last-of-type > div:first-of-type {
  margin-right: 7%;
}

.__cpSelectCategoryBox label { 
  display: inline;
  word-break: break-all;
}

.__cpSelectCategoryBox input { 
  vertical-align: top;
}

.__categoryEditBox a {
  margin-right: 10px;
}

.draggable-list-view.carousel-items .d-item span.title {
  margin-left: -20px;
}
.draggable-list-view .d-item .media-holder {
  width: 40px !important;
}

#contentTabs { border: none !important; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a.active, .nav-tabs > li > a.active:hover, .nav-tabs > li > a.active:focus {
  border-bottom: 4px solid #09a3ee !important;
}

.categoryTooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  top: 4px;
  right: 10px;
  padding-left: 3px;
}

.categoryTooltip .categoryTooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 150%;
}

.categoryTooltip .categoryTooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.categoryTooltip:hover .categoryTooltiptext {
  visibility: visible;
}

.owner-info-container {
  display: flex;
}

.owner-info {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.owner-info span {
  margin-left: 10px;
  cursor: pointer;
}

.contact-info {
  margin-left: 25%;
  padding-left: 8px !important;
}

.contactinfo-close {
  margin: -10px 0 0 15px;
  cursor: pointer;
  font-size: 36px;
}


/* Tooltip container */
.settingsTooltip {
  position: relative;
  display: inline-block;
  font-family: 'Muli', sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 1.4;
}

/* Tooltip text */
.settingsTooltip .settingsTooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  transition: opacity 0.3s;
  left: 145%;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.settingsTooltip .settingsTooltiptext.location-owner {
  top: -20px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.settingsTooltip:hover .settingsTooltiptext {
  visibility: visible;
}

.settingsTooltip .settingsTooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

.btn-info-icon::after {
  font-style: normal !important;
}